.image-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.image-container img {
    cursor: pointer;
    width: 30%;
    height: auto;
}
.video-container {
    text-align: center;
}
iframe {
    width: 80%;
    height: 600px;
}
